
*.mod

.idea/

.vscode/

*.sum

blogposts/__debug_bin

*.exe

.DS_Store
WebApp/main/main

WebApp/main/game.db.json

WebApp/cmd/webserver/main/game.db.json

WebApp/cmd/webserver/main/main

WebApp/cmd/cli/cli
